<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Ticketopia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:4200, http://localhost:4201</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketServlet</display-name>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/TicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketPostsServlet</display-name>
    <servlet-name>TicketPostsServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.TicketPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPostsServlet</servlet-name>
    <url-pattern>/TicketPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentInfoServlet</display-name>
    <servlet-name>PaymentInfoServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PaymentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentInfoServlet</servlet-name>
    <url-pattern>/PaymentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTitlesServlet</display-name>
    <servlet-name>PostTitlesServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PostTitlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTitlesServlet</servlet-name>
    <url-pattern>/PostTitlesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartnerServlet</display-name>
    <servlet-name>PartnerServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PartnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartnerServlet</servlet-name>
    <url-pattern>/PartnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/TopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicsServlet</display-name>
    <servlet-name>TopicsServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.TopicsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicsServlet</servlet-name>
    <url-pattern>/TopicsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTitleServlet</display-name>
    <servlet-name>PostTitleServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PostTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTitleServlet</servlet-name>
    <url-pattern>/PostTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostsServlet</display-name>
    <servlet-name>PostsServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostsServlet</servlet-name>
    <url-pattern>/PostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketsServlet</display-name>
    <servlet-name>TicketsServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.TicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketsServlet</servlet-name>
    <url-pattern>/TicketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePostTitleServlet</display-name>
    <servlet-name>CreatePostTitleServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.CreatePostTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostTitleServlet</servlet-name>
    <url-pattern>/CreatePostTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.ticketopia.servlets.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
</web-app>