<div class="col-12 mx-3">
    <h6>{{topic.topicName}}</h6>
</div>

<div class="col-12 mx-3" *ngFor="let postTitle of postTitles">
    <a class="row mx-3 forum rounded" routerLinkActive="active" (click)="storePostTitle(postTitle)" routerLink="/Ticketopia/forum/{{postTitle.topicId}}/{{postTitle.id}}">
        <p class="col-12">{{postTitle.postTitle}}</p>
    </a>
</div>
<div *ngIf="loggedIn()">
    <div class="col-12 mx-3">
        <br><br>
        Create a new topic
        <br>
        Topic Name:
        <input type="text" [(ngModel)]="newPostTitle.postTitle" /><br>
        Post Content:
        <textarea rows=7 cols=50 [(ngModel)]="newPost.postContent"></textarea>
        <button class="btn btn-group-lg" (click)="createPostTitle(); " routerLink="./">Create</button>
    </div>
</div>
