<div class="row mx-3 my-5">
    <h1>Login to Ticketopia</h1>
</div>
<div class="row mx-3 my-5">
    <div class="col-12">
        <form class="form-inline">
            <input type="email" class="form-control mx-2" placeholder="email" [(ngModel)]="email" name="loginEmail">
            <input type="password" class="form-control mx-2" placeholder="password" [(ngModel)]="password" name="loginPassword">
            <button type="submit" class="btn btn-info mx-2 px-5" (click)="logMeIn()" name="loginSubmit">Login</button>
        </form>
        <hr>
    </div>
</div>
