<div class="row mx-3 my-5">
  <h1>Login to Ticketopia</h1>
</div>
<div class="row mx-3 my-5">
  <div class="col-12">
    <form class="form-inline">
      <input type="text" class="form-control mx-2" placeholder="email" [(ngModel)]="email" name="email">
      <input type="password" class="form-control mx-2" placeholder="password" [(ngModel)]="password" name="password">
      <button type="submit" class="btn btn-info mx-2 px-5" (click)="logMeIn()">Login</button>
    </form>
    <hr>
  </div>
  <div class="col-12">

    <form class="form-group">
      <div class="col-6">
        <input type="text" class="form-control mx-2" placeholder="username" id="username">
        <input type="password" class="form-control mx-2" placeholder="password" id="password">
        <input type="text" class="form-control mx-2" placeholder="display name" id="dname">
        <input type="text" class="form-control mx-2" placeholder="email" id="email">
      </div>
      <div class="col-6">
        <input type="text" class="form-control mx-2" placeholder="fname" id="fname">
        <input type="text" class="form-control mx-2" placeholder="lname" id="lname">
        <input type="text" class="form-control mx-2" placeholder="address" id="address">
        <input type="text" class="form-control mx-2" placeholder="city" id="city">
        <input type="text" class="form-control mx-2" placeholder="state" id="state">
        <input type="text" class="form-control mx-2" placeholder="zipcode" id="zipcode">
        <button type="submit" class="btn btn-info mx-2 px-5">Register</button>
      </div>
    </form>
  </div>
</div>