<div class="row mx-3 my-5">
    <h1>Payment Info for {{pInfo.customerInfo.displayName}}</h1>
</div>
<hr>
<div class="row mx-3 my-5">
    <div class="col-6">
        <h1 class="m-2">Existing Payment Info</h1>
        <div class="card mx-2 mb-4">
            <div class="card-header px-3 py-2">
                **** **** **** {{pInfo.cardNumber.toString().substr(12)}}
            </div>
            <div class="card-text px-2 py-2">
                Billing Information: <br>
                {{pInfo.billingAddress}} -
                {{pInfo.billingCity}} -
                {{pInfo.billingState}} -
                {{pInfo.billingZip}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1 class="mx-4" *ngIf="pInfo==null else update">Create payment method</h1>
        <ng-template #update>
            <h1 class="mx-4">Update payment method</h1>
        </ng-template>
        <form #registerPaymentForm="ngForm" class="form-group">
            Credit Card Number:
            <input type="text" class="form-control m-3" placeholder="16 Digit Card Number" name="registerCardNumber"
                [(ngModel)]="regPay.cardNumber">
            Security Code:
            <input type="text" class="form-control m-3" placeholder="SecurityCode" name="registerSecurityCode"
                [(ngModel)]="regPay.securityCode">
            Expiration Date:
            <input type="text" class="form-control m-3" placeholder="ExpirationDate" name="registerExpirationDate"
                [(ngModel)]="regPay.expirationDate">
            Address:
            <input type="text" class="form-control m-3" placeholder="Address" name="registerBillingAddress" [(ngModel)]="regPay.billingAddress">
            City:
            <input type="text" class="form-control m-3" placeholder="City" name="registerBillingCity" [(ngModel)]="regPay.billingCity">
            State:
            <input type="text" class="form-control m-3" placeholder="State" name="registerBillingState" [(ngModel)]="regPay.billingState">
            Zipcode:
            <input type="text" class="form-control m-3" placeholder="Zipcode" name="registerBillingZip" [(ngModel)]="regPay.billingZip">
            <button class="btn btn-info m-3 px-5" (click)="updatePayment()" name="updatePayment">Submit</button>
        </form>
    </div>
</div>
