<div class="row mx-3 my-5">
  <h1>Payment Info</h1>
</div>
<hr>
<div class="row mx-3 my-5">
  <div class="col">
      <div class="card mx-2 mb-4" *ngFor="let payment of pInfos">
        <div class="card-header px-3 py-2">
          {{payment?.cardNumber}}
        </div>
        <div class="card-text px-2 py-2">
          {{payment?.expirationDate}}
        </div>
        <div class="card-text px-2 py-2">
          {{payment?.billingAddress}} -
          {{payment?.billingCity}} -
          {{payment?.billingState}} -
          {{payment?.billingZip}}
        </div>
      </div>
  </div>
</div>