<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" routerLink="Ticketopia/home">Ticketopia</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/forum">Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/store">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/register" *ngIf="!isNotNull()">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/login" *ngIf="!isNotNull()">Login</a>
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/paymentinfo" *ngIf="isNotNull()">{{displayName}}</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" routerLinkActive="active" routerLink="Ticketopia/home" name="pizza" (click)="logout()"
                *ngIf="isNotNull()">logout</a>
        </li>
    </ul>
</nav>
