<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" routerLink="home">Ticketopia</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="forum">Forum</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="store">Store</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
          </li>
        </ul>
</nav>