/* You can add global styles to this file, and also import other style files */
.forum {
    color:black;
    border: solid 1px;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 15px 0;
}
.forum:hover {
    color:  gray;
    text-decoration: none;
}
.forum p {
    margin: 0;
}