<div class="row mx-3 my-5">
    <h1>Ticketopia! </h1>
</div>
<div class="row mx-3">
    <div class="col">
        <h3>Partners</h3><br>
    </div>
</div>
<div class="row mx-3" *ngFor="let partner of partners">
    <div class="col">
        <div class="card text-center my-3">
            <div class="card-header ">{{partner.partnerName}}</div>
            <div class="card-body">
                <p class="card-text">{{partner.partnerDesc}}</p>
                <a routerLink="Ticketopia/store" class="btn btn-info">Tickets available here!</a>
            </div>
        </div>
    </div>
</div>
