<div class="row mx-3 my-5">
  <h1>Ticketopia! </h1>
</div>
<div class="row mx-3">
  <div class="col">
    <h3>Partners</h3><br>
  </div>
</div>
<div class="row mx-3">

  <div class="col">
    <div class="card text-center my-3">
      <div class="card-header ">Company Name</div>
      <div class="card-body">
        <p class="card-text">Find out the next best place you'll attend</p>
        <a routerLink="store" class="btn btn-info">Tickets available here!</a>
      </div>
    </div>
    <div class="card text-center my-3">
        <div class="card-header ">Company Name</div>
        <div class="card-body">
          <p class="card-text">Find out the next best place you'll attend</p>
          <a routerLink="store" class="btn btn-info">Tickets available here!</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card text-center my-3">
      <div class="card-header ">Company Name</div>
      <div class="card-body">
        <p class="card-text">Find out the next best place you'll attend</p>
        <a routerLink="store" class="btn btn-info">Tickets available here!</a>
      </div>
    </div>
    <div class="card text-center my-3">
        <div class="card-header ">Company Name</div>
        <div class="card-body">
          <p class="card-text">Find out the next best place you'll attend</p>
          <a   class="btn btn-info" routerLinkActive="active" routerLink="store">Tickets available here!</a>
        </div>
      </div>
  </div>

</div>